* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    background-color: #FFF;
    /* margin: 0 22px; */
}

h1,
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 900;
    color: #E3B873;
    text-shadow: 1px 1px 1px whitesmoke, -2px 1px 12px whitesmoke;
}

p {
    font-family: Pacifico;
    color: brown;
    text-shadow: 1px 1px 1px whitesmoke, -2px 1px 12px whitesmoke;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #E3B873;
    transform: scale(1.05);
    text-decoration: underline;
}

a:active {
    color: whitesmoke;
}

li {
    list-style: none;
    margin-top: 10px;
   
}

/* top nav */

/* .header {
    display: flex;
    flex-wrap: wrap;
    min-height: 70px;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 40px;
    background-color: lightskyblue;
    margin: 0;
    border-bottom: 1px solid black;
} */

.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding-left: 62px;
   border-bottom: 1px solid #E3B873;
}

.header__list {
    display: flex;
    gap: 31px;
    list-style: none;
    text-shadow: 1px 1px 1px lightslategray, -2px 1px 2px lightslategrey;
    
}

.header__link {
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
    text-shadow: 1px 1px 1px black, -2px 1px 2px black;
}
.header__btn {
    background-color: lightgrey;
    width: 110px;
    min-height: 35px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black, 1px 1px 2px whitesmoke;
    text-transform: uppercase;
    border: none;
    margin-right: 62px;
    transition: transform 0.3s ease;
}

.header__btn:hover {
    background-color: #E3B873;
    transform: scale(1.05);
}

.header__btn:active {
    background-color: whitesmoke;
}

/* content */

.flex-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: start;
    gap: 30px;
    /* background-color: #1ec1a637; */
    border: none;
}

.ima-flex {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    background-size: cover;
    margin-left: 20px;
    border: 1px solid #E3B873;
    box-shadow: 3px 3px 5px #E3B873, 4px 4px 8px #E3B873;
    max-width: 300px;
    height: 85%;
    margin-top: 50px;
    border: 1px solid black;
    transition: transform 0.3s ease;/*увеличивает фокус*/
}
.ima-flex:hover {
    transform: scale(1.05);
}

.ima-flex__image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

/* .ima-flex__adres a:hover {
    color: #E3B873
} */

.ima-flex__adres {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.tel {
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
    text-shadow: 1px 1px 1px black, -2px 1px 2px black;
}

.ima-flex__adres a {
    text-decoration: none;
}

.ima-flex__adres a:hover {
    color: #E3B873;
}

.ul-main {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    width: 30%;
    padding: 20px;
    margin: 10px 10px;
}

ul,
ol {
    font-family: Arial, Helvetica, sans-serif;
}

.project {
    display: flex;
    flex-flow: column wrap;
    margin: 20px 10px;
    padding: 20px;
    width: 30%;
    float: right;
}
.project__list {
    display: flex;
    margin-top: 10px;
    transition: transform 0.3s ease;
}
.project__list:hover {
    transform: scale(1.05);
}


/* footer */

.footer {
    margin-top: 48px;
    width: 100vw;
    background-color: #2963A3;
    border: solid transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: white;
    padding: 20px;
}
.footer__wrap {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    gap: 15px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #E3B873;
}