body {
    background-color: aliceblue;
}

* {
    box-sizing: border-box;
    margin: 0;
}

/* top nav */
.header {
    display: flex;
    flex-wrap: wrap;
    min-height: 70px;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 40px;
    background-color: lightskyblue;
    margin: 0;
    border-bottom: 1px solid black;
}

.header__list {
    display: flex;
    gap: 31px;
    list-style: none;
    text-shadow: 1px 1px 1px lightslategray, -2px 1px 2px lightslategrey;
}

.header__link {
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
    text-shadow: 1px 1px 1px black, -2px 1px 2px black;
}

a:hover {
    color: whitesmoke;
}

.header__btn {
    /* border: 1px solid lightblue; */
    background-color: lightgrey;
    width: 110px;
    min-height: 35px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black, 1px 1px 2px whitesmoke;
    text-transform: uppercase;
}

.header__btn:hover {
    background-color: whitesmoke;
}

.header__btn:active {
    background-color: darkgray;
}

/* content */

.flex-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    /* background-color: whitesmoke; */
    background-color: whitesmoke;
    border: none;
}

.ima-flex {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    border: 3px solid lightskyblue;
    box-shadow: 3px 3px 5px lightskyblue    ;
    /* max-width: 300px; */
    width: 300px;
    margin-top: 30px;
    background-color: whitesmoke;

}

.tel {
    color: black;
    font-size: 20px;
}

.ul-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* background-color: whitesmoke; */
    gap: 30px;
    width: 300px;
    padding: 20px;
    margin: 20px 10px;
}

ul li {
    list-style: none;
    margin-top: 10px;
}


h1,
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 900;
    /* color: aliceblue; */
    color: brown;
    text-shadow: 1px 1px 1px whitesmoke, -2px 1px 12px whitesmoke;
}

ul,
ol {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 10px 5px 5px;
    font-family: Pacifico;
    color: brown;
    text-shadow: 1px 1px 1px whitesmoke, -2px 1px 12px whitesmoke;

}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 10px 24px;
    font-size: 24px;
    background-color: lightskyblue;
    color: aliceblue;
}